{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1>Register</h1>
<div class="container mt-5">
    {{ form_errors(registrationForm) }}
    <div class="text-dark m-auto mt-5 w-50">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName)}}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn d-flex justify-content-center align-items-center btn-primary" type="submit">S'enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}