{% extends 'base.html.twig' %}

{% block title %}jeux détails{% endblock %}
{% block javascripts %}
{{ parent() }}
{{encore_entry_script_tags('game')}}
{% endblock %}
{% block body %}
<div class="container mt-5 mb-5 ">
    <header>
    <img class="custom-img" src="{{ game.image.medium_url }}" alt="{{ game.name }}">
    </header>
    <main class="d-flex flex-row gap-4 justify-content-center mb-3">
        <div class="flex-column w-25">
            {% for game in game.games|slice(0,10) %}
            <div>
            <a class="text-dark text-decoration-none" href="{{path("game_show", {'guid': game.id})}}">{{game.name}}</a>
            </div>
            {% endfor %}
        </div>
        <p class="text-dark d-flex w-50 align-items-center justify-content-center">{{game.deck}}</p>
    </main>



</div>
{% endblock %}